<div class="container" style='margin-top: 30px;'>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-body text-center">
      <p>Rails-GraphQL API playground</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <%= link_to graphiql_rails_path, target: '_blank'  do %>
        <li class="list-group-item text-center btn btn-default">GraphiQL interface</li>
      <% end %>
      <%= link_to 'https://github.com/GabrielVareilles/graphql-api', target: '_blank' do %>
        <li class="list-group-item text-center btn btn-default">Github repository</li>
      <% end %>
      <li class="list-group-item text-center btn btn-default">FrontEnd App Boilerplate</li>
    </ul>

  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-body text-center">
      <p>Usefull links to learn GraphQL</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <%= link_to "https://www.howtographql.com/", target: '_blank'  do %>
        <li class="list-group-item text-center btn btn-default">How to GraphQL</li>
      <% end %>
      <%= link_to 'https://www.udemy.com/graphql-with-react-course/', target: '_blank' do %>
        <li class="list-group-item text-center btn btn-default">GraphQL with React course on Udemy</li>
      <% end %>
      <%= link_to 'https://www.apollographql.com/client/', target: '_blank' do %>
        <li class="list-group-item text-center btn btn-default">Apollo client library for front Frameworks</li>
      <% end %>
    </ul>

  </div>
</div>
